
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

ul, ol, menu{
    list-style: none;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.container-m{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

/* Utility Class */

.normal-text{
    font-size: 15px;
}

.button{
    background-color: #0061FF;
    line-height: 20px;
    padding: 5px 10px;
}

/* row & col */

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Header nav bar */

.nav-bar__content{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-bar__items{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    align-items: center;
}