
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}

ul, ol, menu{
    list-style: none;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.container-m{
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1000px;
    margin: 0 auto;
}

img{
    width: 100%;
}

/* Utility Class */

.opacity{
    opacity: 0.5;
}

h3{
    font-size: 24px;
    font-weight: bold;
}
.bg-color-turquoise{
    background-color: #B4D0E7;
}

.flex-baseline{
    display: flex;
    align-items: baseline;
}

.bold-text{
    font-weight: bold;
}

.section-title{
    font-size: 35px;
}

.normal-text{
    font-size: 15px;
}

.button{
    background-color: #0061FF;
    line-height: 20px;
    padding: 5px 10px;
    color: white;
    text-align: center;
}

.underline-blue{
    text-decoration: underline;
    color: #7272F6;
}

/* row & col */

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc(100% / 12 * 4);
}

.col-6{
    flex-basis: calc(100% / 12 * 6);
}

.col-8{
    flex-basis: calc(100% / 12 * 8);
}

.col-12{
    flex-basis: 100%;
}

/* Header nav-bar */

.nav-bar__content{
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-bar__items{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    align-items: center;
}

/* Main Content */

section{
    margin-bottom: 100px;
}
/* Hero */

.hero__title{
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 50px;
}

.hero{
    padding-top: 100px;
    position: relative;
}

.hero__img{
    position: relative;
}

.hero__description{
    display: flex;
    flex-wrap: nowrap;
}

.description{
    display: flex;
    flex-wrap: wrap;
}

.description-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 35px;
}

.free-trial-button{
    padding: 10px;
}

.description-icon{
    font-size: 44px;
    flex-shrink: 0;
}

.bottom-white{
    background-color: white;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* 2° Section */

.subscription__button{
    padding: 70px 0px;
}

.subscription__button-1{
    margin-right: 50px;
}

/* Card */
.card__border{
    border: 1px solid #DBDBDD;
    height: 100%;
}

.card__1{
    padding-right: 25px;
}

.card__2{
    padding: 0px 12.5px;
}

.card__3{
    padding-left: 25px;
}

.card__header{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #DBDBDD;
}

.card__description{
    padding: 30px;
}

.card__description-title{
    margin-bottom: 40px;
}
.card__title{
    padding-bottom: 20px
}


.card__list>li{
    padding: 12px 0px;
}

.card-icon{
    margin-right: 5px;
}

.card__price{
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
}

.card__button{
    text-align: center;
    margin: 20px 0px;
}


.border-slice{
    border-bottom: 1px solid #DBDBDD;
    padding: 30px 0px;
    -webkit-box-decoration-break: slice;
    -o-box-decoration-break: slice;
    box-decoration-break: slice;
}

.checkmark{
    color: #0061FF;
}

/* Card 4 */

.card__4{
    margin: 50px 0px;
}

.card__4-border{
    border: 1px solid #DBDBDD;
}

.card__4-content{
    padding: 20px;
}

.card__info{
    display: block;
    margin-bottom: 50px;
    font-weight: bold;
}

.card__4-button{
    padding: 15px;
}

/* 3° Section */

.partner{
    padding: 80px 0px;
}

.partner__description{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.partner__paragraph{
    padding: 25px 0px;
}

.partner__button{
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
}

/* 4° Section */

.section-tools{
    margin-top: 90px;
    margin-bottom: 200px;
}
.tools{
    padding: 20px;
}

.tools__title{
    padding-bottom: 40px;
}

/* 5° Section */

.count-section{
    margin-bottom: 90px;
}

.more-link{
    display: block;
    padding: 60px 0px;
}

/* 6° Section */


.partnership__cont{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.partnership .col-6{
    padding: 30px;
}
.partnership__img{
    height: 260px;
    display: flex;
    justify-content: center;
}

.partnership__img>img{
    filter: invert(1);
    object-fit: contain;
    width: 60%;
}

.bg-color-green{
    background-color: #A2D39B; 
}

.shadow{
    box-shadow: inset 0px 0px 0px 10px #ffffffa4;
}

.bg-color-bordeaux{
    background-color: #61082B;
}

.bg-color-azure{
    background-color: #0093CE;
}

.bg-color-red{
    background-color: #FF1C1C;
}

.bg-color-red-2{
    background-color: #D5001F;
}

.bg-color-blue{
    background-color: #0D2481;
}

.bg-color-yellow{
    background-color: #FFD830;
}

.central{
    background-color: #F5F5F5;
    padding: 50px;
}

.central-img{
    object-fit: contain;
    width: 60%; 
}

.central-paragraph{
    padding: 60px 0px;
}

.border-slice-top{
    border-top: 1px solid #DBDBDD;
    padding: 30px 0px;
    -webkit-box-decoration-break: slice;
    -o-box-decoration-break: slice;
    box-decoration-break: slice;
}